<!DOCTYPE html>
<html>
    <head>
        <title>
            Main Page
        </title>
        <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    </head>
    <body>
        <div id="container">
            <div id="leftPart">
                <p>SLEVA</p> 
            </div>
            <div id="rightPart">
                <p>SPRAVA</p>
            </div>
        </div>
    </body>
</html> 