<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- SIGNUP FORM -->
    <form action="/reg" method="post">
        <div class="form-group">
            <label>login</label>
            <input type="text" class="form-control" name="login">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>first name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label>last name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group">
            <label>age</label>
            <input type="number" class="form-control" name="age">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
</div>
</div>
</body>
</html>