<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- SIGNUP FORM -->
    <form action="/" method="post">
        <div class="form-group">
            <label>login</label>
            <input type="text" class="form-control" name="login" value= <%=login%>>
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password" value= <%=password%>>
        </div>
        <div class="form-group">
            <label>first name</label>
            <input type="text" class="form-control" name="firstName" value= <%=firstName%>>
        </div>
        <div class="form-group">
            <label>last name</label>
            <input type="text" class="form-control" name="lastName" value= <%=lastName%>>
        </div>
        <div class="form-group">
            <label>age</label>
            <input type="number" class="form-control" name="age" value= <%=age%>>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value= <%=email%>>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Back to main page? <a href="/mainpage">Main page</a></p>
</div>
</div>
</body>
</html>