html, body { height: 100%; width: 100%; margin: 0; }
#container{
    width:100%;
    height: 100%;
    border-color: darkslateblue;
}

#container #leftPart{
    width: 50%;
    height: 100%;
    float: left;
    background-image: url("/resources/images/shoppingcart.png");
    background-color: green;
}

#container #rightPart{
    width: 50%;
    height: 100%;
    float: right;
    background-image: url("/resources/images/user.png");
    background-color: lightskyblue;
}