body {
    margin: 0;
    background-color: black;
    font-family: 'Segoe UI';
}
#container{
    width:100%;
    border-left: 1%;
    border-right: 1%;
    border-top: 1%;
    border-bottom: 1%;
    border-color: darkslateblue;
}

#container #leftPart{
    width: 50%;
    height: 100%;
    float: left;
    background-color: green;
}

#container #rightPart{
    width: 50%;
    height: 100%;
    float: right;
    background-color: lightskyblue;
}